<form class="p-1 rounded border">
  <div class="row w-full">
    <label class="w-5" for="name">Nombre de la tarea: </label>
    <input class="w-5" id="name" required type="text" [formControl]="name_task" />
  </div>

  <div class="row w-full">
    <label class="w-5" for="date">Fecha limite: </label>
    <input class="w-5" id="date" required type="date" [formControl]="date_limit" />
  </div>

  
  <div class="row w-full">
    <label class="w-5" for="date">Personas asociadas </label>
    <button (click)="onAddPerson()" class="btn-primary">Agregar persona</button>
  </div>



  @if (show_add_person) {
    <div class="border p-1 rounded gap-1 col w-5" >
        <div class="row w-full">
            <label class="w-5" for="name">Nombre completo: </label>
            <input class="w-5" required id="name_person" minlength="5" type="text" [formControl]="name_person" />
          </div>
          <div class="row w-full">
            <label class="w-5" for="name">Edad: </label>
            <input class="w-5" required id="age_person" type="number"  [formControl]="age_person"
            min="18" max="80"  />
          </div>
          <div class="row w-full">
            <label class="w-5" for="date">Habilidades </label>
            <button (click)="onAddSkill()" class="btn-primary">Agregar habilidad</button>
          </div>

          @if(show_add_skill){
            <div class="row w-full gap-1">
              
              <input class="w-5" placeholder="Habilidad" id="name_skill" minlength="5" type="text" [formControl]="name_skill" />
              <button (click)="onSaveSkill()" class="btn-primary"> Guardar </button>
            </div>
          }
          @if ( skills_actual.length > 0) {
            <div class="row w-full gap-1">
              @for (item of skills_actual; track item) {
                <div class="chip">
                  <label class="w-5 " >{{item.name}} </label>
                  <label class="w-5 close" (click)="deleteSkill(item)" >X</label>
                </div>
                
              }
              
            </div>
          }
    </div>
  }
  @if ( persons.length > 0) {
    <div class="row w-full gap-1">
      @for (item of persons; track item) {
        <div class="chip">
          <label class="w-5 " >{{item.name}} </label>
          <label class="w-5 close" (click)="deletePerson(item)" >X</label>
        </div>
        
      }
      
    </div>
  }
</form>
